body{
    background-color: bisque;
    height: 100%;
    width: 100%;
    column-count: 2;
}
/* .grouping{
    left: 0px;
    top: 20px;
    list-style-type: none;
    display: block;
    height: 700px;
    
} */

.column1 {
    position: sticky;
    display: block;
    top: 20px;
    height: 700px
    
}
 
#beer-nav{
    position: absolute;
    top: 20px;
    left: 250px;
    width: 450px;
    height: 700px;
}   
 


#form{
    position: absolute;
    display: block;
    padding: 10px;
    width: 450px;
    height: 600px;
    right: -10%;
    top: 20px;
    Text-align: center;
 }

.image_url{
    max-width: 20%;
    max-height: 20%;
  }

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

h3 {
    font-size: 10px;
    font-weight: 400; 
    text-align: left;
    background-color: white;
    
}

.name {
    display: block;
    font-size: 20px;
    font-weight: 400;
}

input{
        display: block;
        height: 50px;
        width: 60%;
        border-radius: 3px;
        padding: 5px;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 300;
    }
textarea{
       display: block;
        height: 100px;
        width: 60%;
        border-radius: 3px;
        padding: 5px;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 300;
    }
    button {
        margin-top: 5px;
        width: 40%;
        padding: 5px;
        background-color: white;
        font-weight: 700;
        border-radius: 5px;
        cursor: pointer;
    }
